.NavbarComponent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    /*
    border-bottom: 1px solid black;
    */
    justify-content: space-between;

    background-color: var(--navbar-background-color);
    color: var(--text-on-dark);
    padding: var(--navbar-padding);

    align-items: stretch;
}

.buttons,
.tabs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: var(--navbar-item-background-color);
    color: var(--text-on-dark);
    margin-top: 0;
    padding-top: 0;
    align-items: stretch;
}

.buttons > * {
    min-width: 2.5rem;
    background-color: var(--button-background);
}

.buttons > *:hover {
    background-color: var(--button-hover-background);
}