.GridItemComponent {
    justify-self: stretch;
    align-self: stretch;

    width: 100%;
    aspect-ratio: 1 / 1;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: var(--component-background-color);
    border: 1px solid var(--component-border-color);
    border-radius: var(--grid-item-radius);
    box-shadow: var(--component-shadow);

    color: var(--text-color);
}

.GridItemComponent > * {
    user-select: none;
}